@import "tailwindcss";
@import "./themes/index.css";

@import "./components/container.css";
@import "./components/components.css";

@import "@fontsource/manrope/latin.css";
@import "@fontsource/work-sans/latin.css";
@import "./components/fonts.css";

#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0.5rem;
	background-color: #f8f8f8;

	display: flex;
	flex-direction: row;
	gap: 1.25rem;
}

.progress-bar {
	width: 100%;
	height: 0.5rem;
	border-radius: 0.5rem;
	background-color: #e5e7eb;
	appearance: none;
	overflow: hidden;
}
.progress-bar::-webkit-progress-bar {
	background-color: #e5e7eb;
	border-radius: 0.5rem;
}
.progress-bar::-webkit-progress-value {
	background: linear-gradient(90deg, var(--color-primary-400) 0%, var(--color-primary-500) 100%);
	border-radius: 0.5rem;
}
.progress-bar::-moz-progress-bar {
	background: linear-gradient(90deg, var(--color-primary-400) 0%, var(--color-primary-500) 100%);
	border-radius: 0.5rem;
}
.progress-bar::-ms-fill {
	background: linear-gradient(90deg, var(--color-primary-400) 0%, var(--color-primary-500) 100%);
	border-radius: 0.5rem;
}

.kanva-scroll {
	scrollbar-width: thin;
	scrollbar-color: #d4d4d4 #f3f4f6;
}

.kanva-scroll::-webkit-scrollbar {
	width: 8px;
	border-radius: 8px;
	background: #f3f4f6;
}

.kanva-scroll::-webkit-scrollbar-thumb {
	background: #a3a3a3;
	border-radius: 8px;
	transition: background 0.2s;
}

.kanva-scroll::-webkit-scrollbar-thumb:hover {
	background: #f2f2f2;
}

