@import "tailwindcss";
@import "./themes/index.css";
@import "./components/container.css";

@import "@fontsource/manrope/latin.css";
@import "@fontsource/work-sans/latin.css";

#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0.5rem;
	background-color: #f8f8f8;

	display: flex;
	flex-direction: row;
	gap: 1.25rem;
}
